body, #selectShape {
    font-size: 30px;
}
#selectShape {
    margin-bottom: 30px;
}
label {
    display: block;
    margin-bottom: 10px;
}
span {
    font-size: 13px;
    color: grey;
    display: block;
}
.wrapper {
    display: flex;
}
.form-wrapper {
    flex-basis: 30%;
}
.square {
    width: 500px;
    height: 500px;
}
.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.rectangle {
    width: 500px;
    height: 250px;
}